<table>
  <tr>
    <td class="id">公司：</td>
    <td class="value"><%= @game.company %></td>
  </tr>
  <tr>
    <td class="id">发行：</td>
    <td class="value"><%= ftime @game.sale_date %></td>
  </tr>
  <tr>
    <td class="id">玩家打分：</td>
    <td class="value"><%= "5颗星" %></td>
  </tr>
</table>
